


/******************** CARD - ATRRIBUTION ********************/

.attribution {
    margin-top: 10px;
    color: hsl(0, 0%, 100%);
    font-size: 20px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%);
    text-decoration: none; 
}