@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
}

.card-body {
    width: 250px;
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 15px;
}

.qr_img {
    width: 250px;
    height: 250px;
    border-radius: 15px;
}

p, h3 {
    text-align: center;
}

h3 {
    color: hsl(218, 44%, 22%);
}

p {
    color: hsl(220, 15%, 55%);
}

.attribution {
    margin-top: 10px;
    color: hsl(0, 0%, 100%);
    font-size: 20px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%);
    text-decoration: none; 
}