
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


:root {
    --color-bg: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    --color-icon: hsl(14, 88%, 65%);
    --color-text: hsl(238, 29%, 16%);
    --color-text-p: hsl(237, 12%, 33%);
    --hr: hsl(240, 5%, 91%);
}

body {
    height: 100vh;
    background-image: var(--color-bg);
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    color: var(--hr);
    width: 350px;
    margin-left: 10px;
}

h1 {
    padding-left: 15px;
    color: var(--color-text);
}

.container {
    display: flex;
    align-items: center;
    height: 550px;
    width: 1000px;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
}

.img-woman .box {
    position: absolute;
    bottom: 165px;
    left: -90px;
    z-index: 99;
}

.img-woman .woman {
    position: absolute;
    top: 90px;
    left: -80px;
}

.faq-accordion {
    position: absolute;
    right: 60px;
    width: 45%;
    color: var(--color-text-p);
}

/* Accordion */
.accordion p {
    color: var(--color-text);
}
.accordion {
    background: none;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 1rem;
}

.accordion img {
    margin-left: 55px;
}

/* .accordion:after {
    content: url('./images/icon-arrow-down.svg');
    float: right;
    margin-left: 5px;
} */

.active {
    color: var(--color-text);
    font-weight: 500;
}

.accordion:hover {
    color: hsl(14, 88%, 65%);
    transition: all 350ms ease;
}

.panel {
    padding: 0 18px;
    background-color: #fff;
    display: none;
    overflow: hidden;
    font-size: 0.85rem;
}