@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Outfit", sans-serif;
    background-color: hsl(217, 54%, 11%);
}


/******************** CARD ********************/


.card {
    width: 320px;
    border-radius: 15px;
    padding: 20px;
    background-color: hsl(216, 50%, 16%);
}

/******************** CARD - IMAGE ********************/

.img-equilibrium {
    width: 310px;
    margin-left: 5px;
    border-radius: 15px;
    z-index: 0;
}

.nft .icon-view {
    width: 23%;
    height: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 999;
}

.nft .icon-view:hover {
    visibility: visible;
}


/******************** CARD - INFO ********************/

.card-details {
    margin-top: -15px;
    padding: 0 5px;

}

.card h1 a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 22px;
}

.card h1 a:hover {
    color: hsl(178, 100%, 50%);
}

.card h3 {
    font-size: 16px;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}


/******************** CARD - PRICE ********************/

.eth {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.eth-img,
.eth-p {
    display: flex;
    align-items: center;
}

.eth-img p {
    color: hsl(178, 100%, 50%);
    margin-left: 8px;
    font-weight: 400;
}

.eth-p p {
    color: hsl(215, 32%, 27%);
    margin-left: 8px;
}

hr {
    color: hsl(215, 32%, 27%);
}


/******************** CARD - AVATAR ********************/


.avatar {
    display: flex;
    align-items: center;
}

.avatar-img {
    border: 1px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.avatar-text {
    color: hsl(215, 51%, 70%);
    padding-left: 15px;
}

.avatar-text a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.avatar-text a:hover {
    color: hsl(178, 100%, 50%);
}

/******************** CARD - ATRRIBUTION ********************/

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}