@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);

  --dark-blue: hsl(249, 10%, 26%);
  --Grayish-blue: hsl(246, 25%, 77%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-image: url(../images/bg-intro-desktop.png);
  background-size: cover;
  background-color: var(--red);
}

.container {
  display: flex;
  width: 1150px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 130px;
  color: #fff;
}

.intro h1 {
  padding-right: 40px;
  margin-bottom: 20px;
  font-size: 2.6rem;
  line-height: 2.8rem;
}

.intro p {
  font-size: 0.8rem;
}

.container-form {
  padding: 70px 100px 70px 50px;
}

.container-form .trial {
  text-align: center;
  background-color: var(--blue);
  border-radius: 10px;
  padding: 10px;
  font-size: 0.75rem;
  margin-bottom: 15px;
  color: #fff;
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.container-form .trial span {
  font-weight: 700;
}

.form {
  width: 450px;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px 0;
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.form input {
  font-weight: 600;
  width: 85%;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--Grayish-blue);
}

.btn-subscribe {
  width: 85%;
  border: none;
  background-color: var(--green);
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.382);
}

.btn-subscribe:hover {
  background-color: hsla(154, 59%, 51%, 0.541);
}

.form .footer {
  color: var(--Grayish-blue);
  font-size: 0.55rem;
  font-weight: 600;
  padding: 15px 0 25px 0;
}

.form .footer a {
  color: var(--red);
  text-decoration: none;
}

label {
  position: relative;
}

label .inputError {
  border: 1px solid red;
}

label .error {
  position: absolute;
  top: 33px;
  right: 0;
  font-size: 0.65rem;
  color: red;
}

.iconError {
  background-image: url(../images/icon-error.svg);
  position: absolute;
  top: 0;
  right: 10px;
  /* visibility: hidden; */
}

/******************** RESPONSIVE ********************/

@media (min-width: 1056px) and (max-width: 1140px) {
  .intro h1 {
    padding-right: 0;
    font-size: 2.4rem;
  }
}

@media (min-width: 1046px) and (max-width: 1055px) {
  .intro {
    padding-right: 0;
  }
  .intro h1 {
    padding-right: 0;
    font-size: 2.2rem;
  }
  .intro p {
    font-size: 0.9rem;
  }
}

@media (min-width: 985px) and (max-width: 1045px) {
  .intro {
    padding-right: 0;
  }
  .intro h1 {
    padding-right: 0;
    font-size: 2.3rem;
  }
  .intro p {
    font-size: 0.9rem;
  }
}

@media (min-width: 953px) and (max-width: 984px) {
  .intro h1 {
    padding-right: 0;
    font-size: 2.1rem;
  }
  .container-form {
    padding-left: 20px;
  }
  .form {
    width: 400px;
  }
}

@media (min-width: 891px) and (max-width: 952px) {
  .intro h1 {
    padding-right: 0;
    font-size: 2rem;
  }
  .container-form {
    padding-left: 20px;
  }
  .form {
    width: 400px;
  }
}

@media (min-width: 861px) and (max-width: 890px) {
  .intro h1 {
    padding-right: 0;
    font-size: 2rem;
  }
  .intro p {
    font-size: 0.75rem;
  }
  .container-form {
    padding-left: 20px;
  }
  .form {
    width: 370px;
  }
}

@media (min-width: 725px) and (max-width: 860px) {
  .container {
    display: block;
  }
  .intro {
    padding: 0 90px;
  }
  .intro h1 {
    font-size: 3.6rem;
    line-height: 3.6rem;
    text-align: center;
  }
  .intro p {
    font-size: 1.1rem;
    text-align: center;
  }
  .container-form {
    padding: 40px 90px 0 90px;
    margin: 0 auto;
  }
  .form {
    width: 100%;
  }
}

@media (min-width: 678px) and (max-width: 724px) {
  .container {
    display: block;
  }
  .intro {
    padding: 0 90px;
  }
  .intro h1 {
    font-size: 3.4rem;
    line-height: 3.6rem;
    text-align: center;
  }
  .intro p {
    font-size: 1.1rem;
    text-align: center;
  }
  .container-form {
    padding: 40px 90px 0 90px;
    margin: 0 auto;
  }
  .form {
    width: 100%;
  }
}

@media (min-width: 624px) and (max-width: 677px) {
  .container {
    display: block;
  }
  .intro {
    padding: 0 50px;
  }
  .intro h1 {
    font-size: 3.2rem;
    line-height: 3.3rem;
    text-align: center;
  }
  .intro p {
    font-size: 1.1rem;
    text-align: center;
  }
  .container-form {
    padding: 40px 50px 0 50px;
    margin: 0 auto;
  }
  .form {
    width: 100%;
  }
}

@media (min-width: 584px) and (max-width: 623px) {
  .container {
    display: block;
  }
  .intro {
    padding: 0 50px;
  }
  .intro h1 {
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
  }
  .intro p {
    font-size: 1rem;
    text-align: center;
  }
  .container-form {
    padding: 40px 50px 0 50px;
    margin: 0 auto;
  }
  .form {
    width: 100%;
  }
}

@media (min-width: 500px) and (max-width: 583px) {
  .container {
    display: block;
  }
  .intro {
    padding: 0 40px;
  }
  .intro h1 {
    font-size: 2.8rem;
    line-height: 3rem;
    text-align: center;
  }
  .intro p {
    font-size: 1rem;
    text-align: center;
  }
  .container-form {
    padding: 40px 50px 0 50px;
    margin: 0 auto;
  }
  .form {
    width: 100%;
  }
}

@media (min-width: 410px) and (max-width: 499px) {
  .container {
    display: block;
  }
  .intro {
    padding: 0 20px;
  }
  .intro h1 {
    font-size: 2.4rem;
    line-height: 2.5rem;
    text-align: center;
  }
  .intro p {
    font-size: 0.8rem;
    text-align: center;
  }
  .container-form {
    padding: 40px 20px 0 20px;
    margin: 0 auto;
  }
  .form {
    width: 100%;
  }
}

@media (min-width: 375px) and (max-width: 409px) {
  .container {
    display: block;
  }
  .intro {
    padding: 0 20px;
  }
  .intro h1 {
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
  }
  .intro p {
    font-size: 0.8rem;
    text-align: center;
  }
  .container-form {
    padding: 40px 20px 0 20px;
    margin: 0 auto;
  }
  .form {
    width: 100%;
  }
}
