@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --color-sedan: hsl(31, 77%, 52%);
    --color-suvs: hsl(184, 100%, 22%);
    --color-luxury: hsl(179, 100%, 13%);

    --paragraph: hsla(0, 0%, 100%, 0.75);
    --bg-h-btn: hsl(0, 0%, 95%);
}

body {
    background-color: var(--bg-h-btn);
    font-size: 15px;
}


/******************** CONTAINER ********************/


.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


/******************** CARS-BOX ********************/


.cars-box {
    width: 300px;
    height: 500px;
    color: var(--bg-h-btn);
}

.cars-box:nth-child(1) {
    background: var(--color-sedan);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.cars-box:nth-child(2) {
    background: var(--color-suvs);
}

.cars-box:nth-child(3) {
    background: var(--color-luxury);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cars-box-info {
    padding: 50px;
}


/******************** CARS-TEXTS ********************/

.cars-type {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 1.9rem;
    padding: 30px 0;
}

.cars-info {
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.5rem;
    margin-bottom: 90px;
}


/******************** CARS - BUTTON ********************/


.btn1,
.btn2,
.btn3 {
    border: none;
    border-radius: 50px;
    padding: 15px 30px;
    background-color: var(--bg-h-btn);
    border: 2px solid var(--bg-h-btn);
    cursor: pointer;
}

.btn1:hover,
.btn2:hover,
.btn3:hover {
    background-color: transparent;
    color: var(--bg-h-btn);
    border: 2px solid var(--bg-h-btn);
    transition: all 500ms ease;
}

.btn1 {
    color: var(--color-sedan);
}

.btn2 {
    color: var(--color-suvs);
}

.btn3 {
    color: var(--color-luxury);
}


/******************** RESPONSIVE ********************/

@media (min-width: 350px) and (max-width: 409px) {
    .container {
        display: block;
    }
    .cars-box {
        margin: 0 auto;
        width: 350px;
    }
    .cars-box-info {
        padding: 50px;
    }
    .cars-type {
        font-size: 2.5rem;
    }
    .cars-info {
        font-size: 1rem;
        line-height: 2.1rem;
        margin-bottom: 20px;
    }
    .cars-box:nth-child(1) {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    .cars-box:nth-child(3) {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
        margin-bottom: 10px;
    }
    img {
        width: 60px;
        height: 40px;
    }
}

@media (min-width: 410px) and (max-width: 469px) {
    .container {
        display: block;
    }
    .cars-box {
        margin: 0 auto;
        width: 390px;
    }
    .cars-box-info {
        padding: 60px;
    }
    .cars-type {
        font-size: 3rem;
    }
    .cars-info {
        font-size: 1.2rem;
        line-height: 2.1rem;
        margin-bottom: 20px;
    }
    .cars-box:nth-child(1) {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    .cars-box:nth-child(3) {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
        margin-bottom: 10px;
    }
    img {
        width: 70px;
        height: 50px;
    }
}

@media (min-width: 470px) and (max-width: 520px) {
    .container {
        display: block;
    }
    .cars-box {
        margin: 0 auto;
        width: 450px;
    }
    .cars-box-info {
        padding: 60px;
    }
    .cars-type {
        font-size: 3rem;
    }
    .cars-info {
        font-size: 1.2rem;
        line-height: 2.1rem;
        margin-bottom: 20px;
    }
    .cars-box:nth-child(1) {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    .cars-box:nth-child(3) {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
        margin-bottom: 10px;
    }
    img {
        width: 70px;
        height: 50px;
    }
}

@media (min-width: 521px) and (max-width: 656px) {
    .container {
        display: block;
    }
    .cars-box {
        margin: 0 auto;
        width: 500px;
    }
    .cars-box-info {
        padding: 60px;
    }
    .cars-type {
        font-size: 3rem;
    }
    .cars-info {
        font-size: 1.2rem;
        line-height: 2.1rem;
        margin-bottom: 20px;
    }
    .cars-box:nth-child(1) {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    .cars-box:nth-child(3) {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
        margin-bottom: 10px;
    }
    img {
        width: 70px;
        height: 50px;
    }
}

@media (min-width: 657px) and (max-width: 687px) {
    .cars-info {
        margin-bottom: 50px;
    }
    .cars-box-info {
        padding: 35px;
    }
}

@media (min-width: 688px) and (max-width: 749px) {
    .cars-info {
        margin-bottom: 50px;
    }
    .cars-box-info {
        padding: 40px;
    }
}

@media (min-width: 750px) and (max-width: 805px) {
    .cars-info {
        margin-bottom: 60px;
    }
}

@media (min-width: 806px) and (max-width: 880px) {
    .cars-box {
        width: 270px;
        height: 470px;
    }
    .cars-info {
        margin-bottom: 40px;
    }
}

@media (min-width: 881px) and (max-width: 915px) {
    .cars-info {
        margin-bottom: 60px;
    }
}